<header class="row">
  <h1 class="display-1 pb-2 title">The Nija Developer Mentor Network</h1>
  <hr class="border-white my-4 ml-0 w-25" role="presentation">
</header>

<div class="row">
  <section class="lead col-md-8">
    <p>In October 2020, the Nigerians all over the world held protests to push for the disbanding of the Special Anti-Robbery Squad (SARS) and a stop to police brutality in Nigeria. Things escalated and on 20th of October, the military was sent into various parts of the country, security cameras were removed and protesters were murdered. Citizens in Lekki, Lagos, were able to stream the massacre live on social media, branding the event the Lekki Tollgate Massacre.</p>
    <p>Nigerians everywhere were in mourning, and many in the country expressed a passion to obtain skills that could enable them to make the kinds of positive impact on Nigeria. <a href="https://twitter.com/namzo/status/1319385543856316417?s=20">Ernest Ojeh</a> offered to mentor Nigerian developers and international community followed suit.</p>
    <p>This network will not fix Nigeria's systematic problems but it is one of the many ways that will allow Nigerians to do for themselves what Nigeria can not do for them. If you're a developer and have capacity, consider signing up as a mentor and help those back home.</p>
  </section>

</div>

<div class="row mb-5">
  <section class="call-to-actions col-md-6 offset-md-3">
    <%= link_to 'Become a Mentor', new_mentor_registration_path, class: 'btn btn-primary btn-lg a-btn mx-4' %>
    <%= link_to 'Find a Mentor', mentors_path, class: 'btn btn-primary btn-lg a-btn' %>
  </section>
</div>