/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



body {
    background-color: black;
    color: #F7F7F7;
}

.title {
    font-family: Serif;
    font-weight: bold;
}

.form-title {
    font-size: 1.5rem;
}

hr {
    border-width: 0.75rem;
}

a {
    color: #F7F7F7;
    text-decoration: underline;
    font-weight: bold;
}

a:hover {
    color: yellowgreen;
}

nav {
    background-color: #F7F7F7;
}

nav a {
    color: black;
}

.btn-primary {
    background-color: #F7F7F7;
    border-color: #F7F7F7;
    color: black;
}

.btn-primary:hover {
    background-color: yellowgreen;
    border-color: yellowgreen;
    color: black;
}

.a-btn {
    text-decoration: none;
}